import React from 'react'
import {
  Card,
  Row,
  Small
} from 'component'

export const <%= props.properName %> = () => {
  return (
    <div className='section'>
      <Row>
        <Small>
          <Card>
            <h1>Lorem Ipsum</h1>
          </Card>
        </Small>
        <Small>
          <Card>
            <h1>Lorem Ipsum</h1>
          </Card>
        </Small>
        <Small>
          <Card>
            <h1>Lorem Ipsum</h1>
          </Card>
        </Small>
      </Row>
    </div>
  );
}
