import * as React from 'react'
import {
  Card,
  Row,
  Medium
} from 'component'

export const <%= props.properName %>: React.FunctionComponent = () => {
  return (
    <div className='section'>
      <Row>
        <Medium>
          <Card>
            <h1>Lorem Ipsum</h1>
          </Card>
        </Medium>
        <Medium>
          <Card>
            <h1>Lorem Ipsum</h1>
          </Card>
        </Medium>
        <Medium>
          <Card>
            <h1>Lorem Ipsum</h1>
          </Card>
        </Medium>
      </Row>
    </div>
  );
}
