import React from 'react'
import {
  Row,
  Medium,
  Navigation,
  Card,
  HeroImageLayout,
} from 'component'
import Image from <%- `'./assets/${props.imageId}.jpg'` %>

const AppHeader = () => (
  <Navigation logo='Placeholder' />
)

const imageUrl = Image

export const <%= props.properName %> = () => (
  <HeroImageLayout image={imageUrl} header={<AppHeader />}>
    <div className='section'>
      <Row>
        <Medium>
          <Card>
            Hello World
          </Card>
        </Medium>
      </Row>
    </div>
  </HeroImageLayout>
)
