import React from 'react'
import { useFormContext } from 'react-hook-form'

export const TestDisplay = () => {
  const { watch } = useFormContext();
  <%- props.rows.map((row) => {
    return row.inputs.map((input) => {
      return `const ${props.camelCase(input.inputName)} = watch('${props.dashCase(input.inputName)}')`
    }).join('\n')
  }).join('\n') %>
  return (
    <table className='results'>
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Value
          </th>
        </tr>
      </thead>
      <tbody>
        <%- props.rows.map((row) => {
          return row.inputs.map((input) => {
            return `<tr><td>${props.dashCase(input.inputName)}</td><td>{${props.camelCase(input.inputName)}}</td></tr>`
          }).join('\n')
        }).join('\n') %>
      </tbody>
    </table>
  )
}
